<div>
  <p v-if="currentUsername == null">
  	<!-- We use double equals rather than triple equals here because we want the conditional
 to be true not only if currentUsername is null but also if it’s undefined, and null == undefined is true. -->
    Enter a username above to see their Github data
  </p>
  <p v-else>
    Below are the results for {{ currentUsername }}
    <github-user-data v-bind:data="githubData[currentUsername]"></github-user-data>
    <!-- data property passed down to the component with v-bind:data
    The colon at the start of that attribute is crucial; it tells Vue that the attribute we’re passing down
     is dynamic and that the component should be updated every time the data changes.
    v-bind can also be shortened and written as :data= -->
  </p>
</div>